
<html>
    <head>
        <title>TestApp</title>
        <link rel="stylesheet" href="" />
    </head>
    <body style="background:hsl(125, 50%, 95%);">
      <div class="container-fluid d-flex flex-row" style="text-align: center;">
        <h1>TestBlog</h1> 
        
        <div>
            {{settings.SECRET_KEY}}
            {{request}}
            {{ config }}
            <pre>
                {% debug %}
                {{ dict }}
            </pre>
           
        </div>
     </div>
    </body>
</html>